<!DOCTYPE html>
<html>
<head> 
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your query, <%= @query.name %></h1>
    <p>
      Your query will be assigned a representative to review it and to get you a quote. You will receive emails throughout the process when any updates are made for your request. 

      You can view the status of your active requests at any time by following the following link:<br><br>
      <% URI.unescape(url_for(controller: 'queries', action: 'index', search: @query.email, param: @query.file1, only_path: false )) %>
      http://mercari.herokuapp.com/queries?search=<%= @query.email.gsub(/@/, '%40') %>&param=<%= @query.file1 %><br>
    </p>
    <p>Thank you for using us and have a wonderful day</p>

    -Mercari Team
<!-- Google Code for Query Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 987917696;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "MMevCMib8wgQgNuJ1wM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/987917696/?label=MMevCMib8wgQgNuJ1wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
  </body>
</html>