<!DOCTYPE html>
<html>
<head> 
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @query.name %>,</h1>
    <p>
      Your query has been updated. You can view the changes below at the following link:
     http://mercari.herokuapp.com/queries?search=<%= @query.email.gsub(/@/, '%40') %>&param=<%= @query.file1 %>
    </p>
    <% if @query.rep? %>
    <p>If you have any questions please send an email to <%= @query.rep %></p>
    <% end %>
    Thank you for your time and business,
<br>
    -Mercari Team
  </body>
</html>