<!DOCTYPE html>
<html>
<head> 
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @query.name %>,</h1>
    <p>
      Your query has been updated. You can view the changes below at the following link:
      <%= url_for(controller: 'queries', action: 'index', search: @query.email, only_path: false ) %>
    </p>
    <% if @query.rep? %>
    <p>If you have any questions please send an email to <%= @query.rep %></p>
    <% end %>
    Thank you for your time and business,

    -Mercari Team
  </body>
</html>