<!DOCTYPE html>
<html>
<head> 
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Estimado <%= @query.name %>,</h1>
    <p>
      Su consulta se ha actualizado. Usted puede ver los cambios siguientes en el siguiente enlace:
      http://mercari.herokuapp.com/queries?search=<%= @query.email.gsub(/@/, '%40') %>&param=<%= @query.file1 %>
    </p>
    <% if @query.rep? %>
    <p>Si usted tiene alguna pregunta por favor envíe un correo electrónico a<%= @query.rep %></p>
    <% end %>
    Gracias por su tiempo y de negocios,
<br>
    -Equipo Mercari 
  </body>
</html>