// Place all the styles related to the Queries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
{
background-color:#dfcdcd;
margin:0px 0px 0px 0px;
text-decoration: none;
}
.bgimage
{
	position:absolute;
	top:90px;
	z-index:-1;
}
.main
{
	background-color:#dfcdcd;
margin:0px 0px 0px 0px;
text-decoration: none;
opacity:0.95;
width:800px;
height:100%;
}
.maintxt
{
opacity:1;
}